.App {
  text-align: center;
  background-color: #282c34;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.BeakerList {
  display: flex;
}

.MaxCount {
  color: white;
}

.Beaker {
 padding: 3rem;
 color: black;
 font-size: 3rem;
 font-weight: bold;
 background-image: url("/public/beaker.png");
 background-size: 80%;
 background-repeat: no-repeat;
}

.Beaker.selected {
 background-color: #96969644;
 border-radius: 10px;
}

footer a {
  color: white;
  text-decoration: none;
  vertical-align: middle;
}

.footer-menu {
  padding: 10px 0;
  display: inline-flex;
  justify-content: space-around;
}

.footer-menu a {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.copyright {
  padding: 10px;
  margin: 0px;
}
